.button {
  font: inherit;
  cursor: pointer;

  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;

  margin-right: 1rem;
}
.button:hover,
.button:active {
  background-color: #510674;
  border-color: #510674;
}

.button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.button.alternative:hover,
.button.alternative:active {
  background-color: #ddb3f8;
}
